* {
  font-family: Arial, Helvetica, sans-serif;
}

div.cast-section {
  width: 700px;
  float: right;
  margin-top: 20px;
  margin-bottom: 50px;
}


div.cast-photos {
  display: flex;
  flex-flow: row wrap;
  width: 670px
}

.cast-item {
  margin: 15px 5px;
  align-items: flex-start;
}

.cast-actor {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
}

.cast-character {
  font-family: 'Noto Sans KR', sans-serif;
  color: #959595;
  font-size: 10.5px;
}

.cast-view-all {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #3976DC;
  cursor: pointer;
  float: right;
  margin-right: 40px;
}

h2 {
  display: inline-block;
}

h2::before {
  display: inline-block;
  content: ' ';
  background-color: #FA320A;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


h2::after {
  display: inline-block;
  content: ' ';
  background-color: #FA320A;
  width: 560px;
  height: 20px;
  margin-left: 10px;
}
